//- Triforce
section.triforce
  nav
    ul.nav.nav-pills.nav-stacked
      li.active: a(href="#one" data-toggle="tab")
        | One
        span.pull-right: span.caret

      li: a(href="#two" data-toggle="tab")
        | Two
        span.pull-right: span.caret

      li: a(href="#three" data-toggle="tab")
        | Three
        span.pull-right: span.caret

  article
    .tab-content
      #one.tab-pane.active
        .panel.panel-default
          .panel-heading One
          .panel-body Panel Body
          .panel-footer Footer

      #two.tab-pane Two

      #three.tab-pane Three

  aside
    .well Aside

//- wunderbar
.navbar.navbar-default.navbar-static-top.wunderbar
  .container-fluid
    a.navbar-brand.catbus__button.catbus-left(js-catbus-button).
      Catbus Button <small class="glyphicon glyphicon-chevron-down carrot"></small>

    .pull-right
      form#js-catbus-config.navbar-form.form-inline.pull-left
        | Catbus Config: &nbsp;
        .btn-group(data-toggle="buttons")
          label.btn.btn-default.active
            input(type="radio" name="catbus-config" checked value="left")
            | Left
          label.btn.btn-default
            input(type="radio" name="catbus-config" value="top")
            | Top
          label.btn.btn-default
            input(type="radio" name="catbus-config" value="right")
            | Right

      a.navbar-brand Assumed Navbar

//- catbus
section.catbus.catbus-left
  nav
    button(js-catbus-button) Catbus Button <small class="glyphicon glyphicon-chevron-down carrot"></small>
    .well.demo Catbus Nav

  article
    hgroup
      h4 Catbus Title
    .well.demo Catbus Body.  Search results go here.
