//- Triforce
section.triforce
  nav
    ul.nav.nav-pills.nav-stacked
      li.active: a(href="#one" data-toggle="tab")
        | One
        span.pull-right: span.caret

      li: a(href="#two" data-toggle="tab")
        | Two
        span.pull-right: span.caret

      li: a(href="#three" data-toggle="tab")
        | Three
        span.pull-right: span.caret

  article
    .tab-content
      #one.tab-pane.active
        .panel.panel-default
          .panel-heading One
          .panel-body Panel Body
          .panel-footer Footer

      #two.tab-pane Two

      #three.tab-pane Three

  aside
    .well Aside

.navbar.navbar-default.navbar-static-top.wunderbar
  .container-fluid
    a.navbar-brand.catbus__button.catbus-top(js-catbus-button).
      Categories <sub><i class="glyphicon glyphicon-chevron-down carrot"></i></sub>

    a.navbar-brand.pull-right Assumed Navbar

//- catbus
section.catbus.catbus-top
  nav
    button(js-catbus-button) Categories
    .well.demo Catbus Nav

  article
    hgroup
      h4 Catbus Title
    .well.demo Catbus Body.  Search results go here.
